.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  color: #fff;
}
.inputs {
  display: flex;
  justify-content: left;
  align-items: center;
}
.inputs div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.text {
  text-align: left;
  background-color: #303030;
}
